<div>
    <div>
        <p>The kind of actions taken on your ad, Page, app or event after your ad was served to someone, even if they
            didn't click on it. Action types include Page likes, app installs, conversions, event responses and
            more.<br>Actions prepended by <code>app_custom_event</code> come from mobile <a href="/docs/app-events">app
                events</a> and actions prepended by <code>offsite_conversion</code> come from the <a
                href="/docs/marketing-api/audiences-api/pixel">Facebook Pixel</a>.
            <br><br><code>app_custom_event.fb_mobile_achievement_unlocked</code>: Mobile App Feature
            Unlocks<br><code>app_custom_event.fb_mobile_activate_app</code>: Mobile App
            Starts<br><code>app_custom_event.fb_mobile_add_payment_info</code>: Mobile App Payment
            Details<br><code>app_custom_event.fb_mobile_add_to_cart</code>: Mobile App Adds To
            Cart<br><code>app_custom_event.fb_mobile_add_to_wishlist</code>: Mobile App Adds to
            Wishlist<br><code>app_custom_event.fb_mobile_complete_registration</code>: Mobile App
            Registrations<br><code>app_custom_event.fb_mobile_content_view</code>: Mobile App Content
            Views<br><code>app_custom_event.fb_mobile_initiated_checkout</code>: Mobile App
            Checkouts<br><code>app_custom_event.fb_mobile_level_achieved</code>: Mobile App
            Achievements<br><code>app_custom_event.fb_mobile_purchase</code>: Mobile App
            Purchases<br><code>app_custom_event.fb_mobile_rate</code>: Mobile App
            Ratings<br><code>app_custom_event.fb_mobile_search</code>: Mobile App
            Searchs<br><code>app_custom_event.fb_mobile_spent_credits</code>: Mobile App Credit
            Spends<br><code>app_custom_event.fb_mobile_tutorial_completion</code>: Mobile App Tutorial
            Completions<br><code>app_custom_event.other</code>: Other Mobile App Actions<br><code>app_install</code>:
            App Installs<br><code>app_use</code>: App Uses<br><code>checkin</code>: Check-ins<br><code>comment</code>:
            Post Comments<br><code>credit_spent</code>: Credit Spends<br><code>games.plays</code>: Game
            Plays<br><code>landing_page_view</code>: Landing Page Views<br><code>like</code>: Page
            Likes<br><code>link_click</code>: Link Clicks<br><code>mobile_app_install</code>: Mobile App
            Installs<br><code>offsite_conversion.custom.&lt;custom_conv_id&gt;</code>: Custom Conversions defined by the
            advertiser<br><code>offsite_conversion.fb_pixel_add_payment_info</code>: Adds Payment
            Info<br><code>offsite_conversion.fb_pixel_add_to_cart</code>: Adds To
            Cart<br><code>offsite_conversion.fb_pixel_add_to_wishlist</code>: Adds To
            Wishlist<br><code>offsite_conversion.fb_pixel_complete_registration</code>: Completed
            Registration<br><code>offsite_conversion.fb_pixel_custom</code>: Custom pixel events defined by the
            advertiser<br><code>offsite_conversion.fb_pixel_initiate_checkout</code>: Initiates
            Checkout<br><code>offsite_conversion.fb_pixel_lead</code>:
            Leads<br><code>offsite_conversion.fb_pixel_purchase</code>:
            Purchases<br><code>offsite_conversion.fb_pixel_search</code>:
            Searchs<br><code>offsite_conversion.fb_pixel_view_content</code>: Views
            Content<br><code>onsite_conversion.flow_complete</code>: On-Facebook Workflow
            Completions<br><code>onsite_conversion.messaging_block</code>: Blocked Messaging
            Conversations<br><code>onsite_conversion.messaging_conversation_started_7d</code>: Messaging Conversations
            Started<br><code>onsite_conversion.messaging_first_reply</code>: New Messaging
            Conversations<br><code>onsite_conversion.post_save</code>: Post
            Saves<br><code>onsite_conversion.purchase</code>: On-Facebook Purchases<br><code>outbound_click</code>:
            Outbound Clicks<br><code>photo_view</code>: Page Photo Views<br><code>post</code>: Post
            Shares<br><code>post_reaction</code>: Post Reactions<br><code>rsvp</code>: Event
            Responses<br><code>video_view</code>: 3-Second Video Views<br><code>contact_total</code>:
            Contacts<br><code>contact_website</code>: Website Contacts<br><code>contact_mobile_app</code>: Mobile App
            Contacts<br><code>contact_offline</code>: Offline Contacts<br><code>customize_product_total</code>: Products
            Customized<br><code>customize_product_website</code>: Website Products
            Customized<br><code>customize_product_mobile_app</code>: Mobile App Products
            Customized<br><code>customize_product_offline</code>: Offline Products
            Customized<br><code>donate_total</code>: Donations<br><code>donate_website</code>: Website
            Donations<br><code>donate_on_facebook</code>: On Facebook Donations<br><code>donate_mobile_app</code>:
            Mobile App Donations<br><code>donate_offline</code>: Offline Donations<br><code>find_location_total</code>:
            Location Searches<br><code>find_location_website</code>: Website Location
            Searches<br><code>find_location_mobile_app</code>: Mobile App Location
            Searches<br><code>find_location_offline</code>: Offline App Location
            Searches<br><code>schedule_total</code>: Appointments Scheduled<br><code>schedule_website</code>: Website
            Appointments Scheduled<br><code>schedule_mobile_app</code>: Mobile App Appointments
            Scheduled<br><code>schedule_offline</code>: Offline App Appointments
            Scheduled<br><code>start_trial_total</code>: Trials Started<br><code>start_trial_website</code>: Website
            Trials Started<br><code>start_trial_mobile_app</code>: Mobile App Trials
            Started<br><code>start_trial_offline</code>: Offline Trials
            Started<br><code>submit_application_total</code>: Applications
            Submitted<br><code>submit_application_website</code>: Website Applications
            Submitted<br><code>submit_application_mobile_app</code>: Mobile App Applications
            Submitted<br><code>submit_application_offline</code>: Offline Applications
            Submitted<br><code>submit_application_on_facebook</code>: On Facebook Applications
            Submitted<br><code>subscribe_total</code>: Subscriptions<br><code>subscribe_website</code>: Website
            Subscriptions<br><code>subscribe_mobile_app</code>: Mobile App
            Subscriptions<br><code>subscribe_offline</code>: Offline
            Subscriptions<br><code>recurring_subscription_payment_total</code>: Recurring Subscription
            Payments<br><code>recurring_subscription_payment_website</code>: Website Recurring Subscription
            Payments<br><code>recurring_subscription_payment_mobile_app</code>: Mobile App Recurring Subscription
            Payments<br><code>recurring_subscription_payment_offline</code>: Offline Recurring Subscription
            Payments<br><code>cancel_subscription_total</code>: Canceled
            Subscriptions<br><code>cancel_subscription_website</code>: Website Canceled
            Subscriptions<br><code>cancel_subscription_mobile_app</code>: Mobile App Canceled
            Subscriptions<br><code>cancel_subscription_offline</code>: Offline Canceled
            Subscriptions<br><code>ad_click_mobile_app</code>: In-App Ad
            Clicks<br><code>ad_impression_mobile_app</code>: In-App Ad
            Impressions<br><code>click_to_call_call_confirm</code>: Call Confirmation Clicks<br>
            <br><strong>Grouped Action Types</strong>: <br><code>page_engagement</code>: Page
            Engagement<br><code>post_engagement</code>: Post Engagement<br>
            <code>onsite_conversion.lead_grouped</code>: All On-Facebook Leads<br><code>lead</code>: All offsite leads
            plus all On-Facebook leads<br>
            <code>leadgen_grouped</code>: On-Facebook leads coming from Messenger and Instant
            Forms<br><code>omni_app_install</code>: App Installs<br><code>omni_purchase</code>:
            Purchases<br><code>omni_add_to_cart</code>: Adds to Cart<br><code>omni_complete_registration</code>:
            Registrations Completed<br><code>omni_view_content</code>: Content Views<br><code>omni_search</code>:
            Searches<br><code>omni_initiated_checkout</code>: Checkouts
            Initiated<br><code>omni_achievement_unlocked</code>: Achievements
            Unlocked<br><code>omni_activate_app</code>: App Activations<br><code>omni_level_achieved</code>: Levels
            Achieved<br><code>omni_rate</code>: Ratings Submitted<br><code>omni_spend_credits</code>: Credit
            Spends<br><code>omni_tutorial_completion</code>: Tutorials Completed<br><code>omni_custom</code>: Custom
            Events<br>
        </p>
    </div>
</div>